footer {
    background-color: $navy;
    color: $white;
    padding: 160px 0px 90px;

    @media screen and (max-width: $large) {
        padding: 90px 0px;
    }
    @media screen and (max-width: $small) {
        padding: 70px 0px 40px;
    }
    .container {
        max-width: 1180px;
    }
    .footer-logo {
        @media screen and (max-width: $large) {
            margin-bottom: 50px;
            order: 1;
        }
    }
    .footer-contact {
        font-size: 14px;
        line-height: 23px;
        color: #F2F2F2;
        padding: 0px 40px;

        @media screen and (max-width: $large) {
            padding: 0px 12px;
            margin-bottom: 25px;
            order: 3;
        }
        address {
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
            
            &:after {
                content: '';
                width: 60px;
                height: 1px;
                background-color: $white;
                display: block;
                position: absolute;
                bottom: 0px;
            }
        }
        span {
            display: block;
        }
        a {
            color: #F2F2F2;

            &:hover, &:focus {
                color: $orange;
            }
        }
    }
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media screen and (max-width: $large) {
            justify-content: flex-start;
            margin-bottom: 25px;
            order: 2;
        }
        ul {
            margin: 0px;
            padding: 0px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 50px;
                margin-bottom: 15px;

                @media screen and (max-width: $medium) {
                    display: block;
                }
                &:last-of-type {
                    margin-right: 0px;
                }
                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: $white;

                    &:hover, &:focus {
                        color: $orange;
                    }
                }
            }
        }
    }
    .footer-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media screen and (max-width: $large) {
            order: 4;
        }
        ul {
            margin: 0px;
            padding: 0px;
            display: flex;

            li {
                list-style-type: none;
                margin-right: 15px;

                &:last-of-type {
                    margin-right: 0px;
                }
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $white;
                    font-family: $roboto;
                    font-weight: 500;
                    line-height: 40px;
                    color: $white;
                    text-align: center;

                    &:hover, &:focus {
                        background-color: $white;
                        color: $navy;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}