// ----------------------  SITE COLORS  ----------------------

$navy:          #002C55;
$blue-gray:     #485968;
$orange:        #F89937;
$gray:          #F8F8F8;
$white:         #ffffff;


// ----------------------  TYPEFACES  ----------------------

$raleway:         'Raleway', Helvetica, Arial, sans-serif;
$roboto:          'Roboto', Helvetica, Arial, sans-serif;


// ----------------------  BREAKPOINTS  ----------------------

$x-large:   1199px;
$large:     991px;
$medium:    767px;
$small:     575px;